.container{
    border: 2px solid rgb(209, 197, 25);
    border-radius: 20px;
    height: 500px;
    width:500px;
    margin: 50px auto;
    text-align: center;
}
.container:hover{
    border: 4px solid rgb(209, 197, 25);

}
img{
    margin: 10px;
    height: 300px !important;
    width: 200x !important       ;

}  
p{
    font-size: 20px;
}  
button:hover{
    background-color: rgb(235, 204, 68);
    border: rgb(235, 204, 68);
    color: black;

}